.instructions-container{
  position: fixed;
  left: 200px;
  right: 200px;
  top: 50px;
}

.welcome-message-title{
  padding-left: 7px;
}

.instructions-go-back-button-wrapper{
  display: flex;
  padding-bottom: 25px;
}

.instructions-go-back-button{
  padding: 10px 15px;
  background-color: royalblue;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 15px;
}

.instructions-button:hover{
  opacity: 0.8;
}

.instructions-button:active{
  opacity: 0.5;
}

.instructions-on{
  color: royalblue;
  background-color: white;
  border: 2px solid royalblue;
  border-radius: 5px;
}

.instructions-text-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: auto;
  max-height: 70vh;  
  padding-bottom: 10px; 
}

.instructions-details-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 10px 10px;
}

.instructions-paragraphs{
  padding-left: 7px;
  padding-top: 0;
}

.instructions-sections{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 10px;
}

.instructions-sections ul{
  margin: 0;
}

.instructions-sections li{
  padding-left: 70px;
  list-style-type: none;
}

.instructions-sections span{
  padding-left: 7px;
}