body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button:disabled {
  opacity: 0.5;
  cursor: auto;
}

button:disabled:hover{
  opacity: 0.5;
}

.blurred{
  filter: blur(4px);
}

.title-wrapper{
  display: flex;
  padding-bottom: 20px;
}

.task-manager-title{
  color: royalblue;
}

.input-container{
  display: flex;
  padding-bottom: 40px;
}

.search-input{
  padding: 10px;
  width: 59%;
  border:  solid royalblue;
  border-radius: 5px;
  font-size: 15px;
}

.add-button{
  padding: 9px 5px;
  width: 140px;
  margin-left: 10px;
  border-radius: 5px;
  background-color: royalblue;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.task-manager-summary-container{
  border: 1px solid black;
  border-radius: 5px;
}

.task-manager-header{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: royalblue;
  color: white
}

.task-manager-cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: none;
}

.task-manager-date{
  font-weight: bold;
  color: white;
}

.yesterday-class{
  background-color: orange;
}

.today-class{
  background-color: red;
}

.tomorrow-class{
  background-color: green;
}

.task-manager-card{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.todo-list{
  list-style: none;      
  padding-left: 4px;
  margin: 0;
  text-align: left; 
}

.todo-list li{
  padding: 5px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
}

.todo-list li::before {
  content: "- ";    
}

.task-manager-date{
  border-bottom: 1px solid black;
  padding: 10px;
}

.past-tasks-and-instructions-container{
 display: flex; 
 justify-content: space-between;
 padding-top: 30px;
}

.past-tasks-review-button{
  padding: 15px 20px;
  background-color: royalblue;
  color: white;
  font-size: 15px;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.instructions-button{
  color: royalblue;
  text-decoration: underline;
  border: none;
  cursor: pointer;
  background-color: white;
  font-size: 15px;
}

.instructions-section{
  position: fixed;
  left: 200px;
  right: 200px;
  top: 110px
}

.instructions-go-back-button-wrapper{
  display: flex;
  padding-bottom: 25px;
}

.instructions-go-back-button{
  padding: 10px 15px;
  background-color: royalblue;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 15px;
}

.instructions-button:hover{
  opacity: 0.8;
}

.instructions-button:active{
  opacity: 0.5;
}

.instructions-on{
  color: royalblue;
  background-color: white;
  border: 2px solid royalblue;
  border-radius: 5px;
}


