.title-wrapper{
  display: flex;
  padding-bottom: 20px;
}

.task-manager-title{
  color: royalblue;
}

.task-manager-summary-container{
  border: 1px solid black;
  border-radius: 5px;
}

.task-manager-header{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: royalblue;
  color: white;
}

.task-manager-cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.task-manager-date{
  font-weight: bold;
  color: white;
  padding: 10px;
  text-align: center;
}

.today-class{
  background-color: orange;
}

.tomorrow-class{
  background-color: red;
}

.in-two-days-class{
  background-color: green;
}

.task-manager-card{
  display: flex;
  flex-direction: column;
}

.task-manager-card-tomorrow{
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.todo-list{    
  margin-left: 14px;
  list-style-type: "-";     
  padding: 0;
  position: relative;
}

.todo-list li{
  padding: 5px;
  font-size: 18px;
}



.past-tasks-and-instructions-container{
 display: flex; 
 justify-content: space-between;
 padding-top: 30px;
}

.past-tasks-review-button{
  padding: 15px 20px;
  background-color: royalblue;
  color: white;
  font-size: 15px;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.instructions-button{
  color: royalblue;
  text-decoration: underline;
  border: none;
  cursor: pointer;
  background-color: white;
  font-size: 15px;
}

.instructions-overlay{
  position: fixed;
  inset: 0;
}
