.go-back-div{
  display: flex;
}

.go-back-button{
  background-color: royalblue;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px; 
  cursor: pointer;
  font-size: 16px;
}

.go-back-button:hover{
  opacity: 0.8;
}

.go-back-button:active{
  opacity: 0.5;
}

.task-history-div{
  padding-top: 50px;
}

.task-history-title{
  color: royalblue;
}

.task-history-details{
 border: 2px solid royalblue;
 border-radius: 5px;
 color: royalblue;
}