.more-info-button-container{
  display: flex;
  width: 100%;
  padding-left: 2px;
  justify-content: space-between;
}

.task-text{
  text-align: left;
  flex: 1;
}

.more-info-button{
  background-color: royalblue;
  color: white;
  font-weight: bold;
  height: 25px;
  width: 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

