
.instructions-section{
  position: fixed;
  left: 200px;
  right: 200px;
  top: 110px
}

.instructions-go-back-button-wrapper{
  display: flex;
  padding-bottom: 25px;
}

.instructions-go-back-button{
  padding: 10px 15px;
  background-color: royalblue;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 15px;
}

.instructions-button:hover{
  opacity: 0.8;
}

.instructions-button:active{
  opacity: 0.5;
}

.instructions-on{
  color: royalblue;
  background-color: white;
  border: 2px solid royalblue;
  border-radius: 5px;
}

