.task-details{
  background-color: rgb(118, 118, 118);
  color: white;
  padding: 10px 12px;
  border-radius: 5px;
  font-size: 18px;
  position: absolute;
  z-index: 2;
  right: 30px;
}

.task-state-container{
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.status-update-button{
  cursor: pointer;
}

.status-button-image{
 height: 17px;
}

.delete-task-container{
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  align-items: flex-end;
}

.delete-task-button{
  cursor: pointer;
}

.bin-image{
  height: 20px;
}
