.input-container{
  display: flex;
  padding-bottom: 40px;
}

.search-input{
  padding: 10px;
  width: 59%;
  border:  solid royalblue;
  border-radius: 5px;
  font-size: 15px;
}

.add-button{
  padding: 9px 5px;
  width: 140px;
  margin-left: 10px;
  border-radius: 5px;
  background-color: royalblue;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}
